@import './base/variables';
@import './componentes/main';

body {
    background-color: black;
    background-image: url(../img/background2.png);
    background-repeat: repeat-y repeat-x;
    background-size: 6rem;
}

.tittle {
    font-size: 5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 550;
    background-image: url(../img/banner.jpeg);
    background-size: cover;
    background-position-y: 40%;
    background-position-x: center;
    background-repeat: no-repeat;
    color: whitesmoke;
    background-color: rgb(29, 14, 14);
    text-align: center;
    padding: 2.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1;
}


.bordeBotones {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-inline-end: 1%;
    justify-content: center;
}

nav .bordeBotones li {
    display: inline-block;
    margin: 1rem;
    border-style: solid;
    border-color: rgb(59, 50, 50);
    border-radius: 18px;
}

.menuBar ul li {
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    line-height: 1rem;
    padding: 1.2rem;
    background-image: url(../img/button1.png);
    background-size: 100%;
    background-position-y: center;
    background-position-x: center;
}

li,
.boton1,
.boton2,
.boton3,
.boton4 {
    color: white;
    text-shadow: whitesmoke;
}

.boton1:hover,
.boton2:hover,
.boton3:hover,
.boton4:hover {
    transform: scale(1.1);
    transition: all 0.3s;
}

.intro {
    color: rgb(219, 230, 240);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    border: .2rem solid white;
    margin: 1.4rem;
    padding: 1.4rem;
    margin-bottom: 80px;

    .texIntro {
    font-size: 1.8rem;
    }
}

.principal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2rem;

    h3 {
        position: relative;
        color: rgb(220, 180, 73);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 1.5rem;
    }

    .tituloVideo{
        font-size: 2.3rem;
    }

      .fondomain{
        display: flex;
        flex-direction: column;
        position: absolute;
        opacity: 0.8;
        align-content:center;
    
        .imgfonde {
            border: solid whitesmoke;
            border-width: 5px;
        }

        
    }

        
    .imagenes-index {
        display: flex;
        flex-direction: column;
        border-radius: 25px;
        max-width: 40rem;
        max-height: 30rem;
        margin-top: 5rem;
        margin-left: 3.4rem;
        padding-left: 1rem;
        padding-right: 1rem;
        grid-area: imag;
    }

    

    .video-contendor {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 3rem;
    }

    .videoResumen {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 0;
        overflow: hidden;
        padding-bottom: 56.2%;
    }

    .videoResumen iframe {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        width: 95%;
        height: 95%;
    }

    .resumenAbajo {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 3rem;
        grid-area: reca;
        position: relative;
    }

    .reCap {
        padding-left: 4rem;
        padding-right: 4rem;
    }



}

footer {
    display: flex;
    flex-direction: row;
    background-color: #000000;
    background-image: linear-gradient(200deg, #000000 30%, #b82e1f 90%);
    border-radius: 25px;
    grid-area: foot;
    justify-content: space-between;
    align-content: center;

    .map {
        display: flex;
        flex-direction: column;
        max-width: 15rem;
        max-height: 15rem;
        align-items: flex-end;
        justify-content: center;
    }

    .textFoot {
        display: flex;
        flex-direction: column;
        font-size: 1.4rem;
        text-align: left;
        align-items: flex-start;
        justify-content: center;
        color: white;
        padding-left: 0.8rem;
    }

}