@import './base/variables';
@import './base/maps';
@import './base/extend';
@import './base/mixin';




body {
    background-color: black;
    background-image: url(../img/background2.png);
    background-repeat: repeat-y repeat-x;
    background-size: $bg-size;

    @media screen and (max-width: $siz-mob){
        background-image: url(../img/background.png);
    }

}

.tittle {
    font-size: 5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 550;
    background-image: url(../img/banner.jpeg);
    background-size: cover;
    background-position-y: 39%;
    background-position-x: center;
    background-repeat: no-repeat;
    color: whitesmoke;
    background-color: rgb(29, 14, 14);
    text-align: center;
    padding: 2.5rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 1;

    @media screen and (max-width: $siz-mob){
        font-size: 4rem;
        margin-left: .5rem;
        margin-right: .5rem;
        margin-top: .5rem;
        margin-bottom: 1rem;
    }

}
    .menuBar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem;    

    @media screen and (max-width: $siz-mob){
        margin: 0;    
    }
      
    .bordeBotones{
        @extend %flexdire;
        text-align: center;
        flex-wrap: wrap;      

        @media screen and (max-width: 768px){
            padding: 0;  
        }
            
        .boton1,
        .boton2,
        .boton3,
        .boton4{
            background-image: url(../img/button1.png);        
            background-size: 130%;
            border: 2px solid beige;
            border-radius: $brd-rad;
            margin-left: 3.5rem;
            margin-right: 3.5rem;
            margin-top: .5rem;
            padding: .8rem;
            color: white;
            font-size: 1.8rem;
            background-position-x: center;
            background-position-y: center;
            list-style: none;
            min-width: 15rem;
            &:hover{
                transform: scale(1.1);
                transition: all 0.3s;

            }

            @media screen and (max-width: 768px){
                min-width: 22rem;
                margin-left: 0;
                margin-right: 0;
            }
    }

}




}


.intro {
    display: flex;
    flex-direction: column;
    border: .2rem solid white;
    border-radius: $brd-rad;
    margin-bottom: 60px;
    margin-left: 5rem;
    margin-right: 5rem;


    @media screen and (max-width: 768px){
        margin-left: .8rem;
        margin-right: .8rem;
    }

    .te{
        display: flex;
        flex-direction: row;
        text-align: center;
        position: relative;
        color: rgb(219, 230, 240);
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        text-align: center;
        font-size: 1.8rem;
        margin: 1.4rem;
        padding: 1.4rem;
    
            @media screen and (max-width: 768px){
            font-size: 1.3rem;
            margin: .2rem;
        }

        }
}

.principal {
    @extend %flexdire; 
    margin-bottom: 2rem;
        

    h3 {
        position: relative;
        color: rgb(220, 180, 73);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 1.5rem;

        @media screen and (max-width: 768px){
            font-size: 1.6rem;
        }

    }

    .tituloVideo{
        font-size: 2.3rem;

        @media screen and (max-width: 768px){
            font-size: 2rem;
            text-shadow: 1px solid white;
        }

    }

      .fondomain{
        display: map-get($display, dsp);
        flex-direction: map-get($display, flxdr);
        position: absolute;
        opacity: $bg-opac;
        align-content:center;
        margin-left: 1rem;
        margin-right: 1rem;

        @media screen and (max-width: 768px){
            display: none;;
        }
    
        .imgfonde {
            border: solid whitesmoke;
            border-width: 5px;
        }

        
    }

        
    .imagenes-index {
        display: map-get($display, dsp);
        flex-direction: map-get($display, flxdr);
        border-radius: 25px;
        max-width: 40rem;
        max-height: 30rem;
        margin-top: 5rem;
        padding-left: 1rem;
        padding-right: 1rem;
    
        @media screen and (max-width: 768px){
            max-width: 24rem;
            max-height: 24rem;
            margin-top: .5rem;
        }

    }

    

    .video-contendor {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 3rem;

        @media screen and (max-width: 768px){
            @include video;
            align-content: center;
       
        }

    }

    .videoResumen {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 0;
        overflow: hidden;
        padding-bottom: 56.2%;

        @media screen and (max-width: 768px){
            
        }

    }

    .videoResumen iframe {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        width: 90%;
        height: 90%;
    }

    .resumenAbajo {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 3rem;
        position: relative;

        @media screen and (max-width: 768px){
            margin: 0;
            margin-top: .2rem;
            margin-bottom: .3rem;
            justify-content: center;
            padding: 0;
        }

    }

    .reCap {
        @include espacios;

        @media screen and (max-width: 768px){
            padding-left: 1rem;
            padding-right: 1rem;  
            color: #ffffff;
        }
    }



}

footer {
    display: flex;
    flex-direction: row;
    background-color: #000000;
    background-image: linear-gradient(200deg, #000000 30%, #b82e1f 90%);
    border-radius: $brd-rad;
    max-height: 15rem;

    @media screen and (max-width: 768px){
        margin-left: .1rem;
        margin-right: .1rem;
    }


    .map iframe{
        display: flex;
        flex-direction: column;
        border-radius: $brd-rad;
        max-height: 15rem;
        
        
        @media screen and (max-width: 768px){
            max-width: 11rem;
            max-height: 11rem;

        }

    }

    .textFoot {
        display: flex;
        flex-direction: row;
        font-size: 1.4rem;
        text-align: left;
        align-items: center;
        justify-content: center;
        color: white;
        padding-left: 0.8rem;

        @media screen and (max-width: 768px){
            font-size: 1rem;
            padding-left: 0.3rem;
        }

    }

}

//mobile


    