@import './base/variables';
@import './base/maps';




body {
    background-color: black;
    background-image: url(../img/background2.png);
    background-repeat: repeat-y repeat-x;
    background-size: $bg-size;
}

.tittle {
    font-size: 5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 550;
    background-image: url(../img/banner.jpeg);
    background-size: cover;
    background-position-y: 40%;
    background-position-x: center;
    background-repeat: no-repeat;
    color: whitesmoke;
    background-color: rgb(29, 14, 14);
    text-align: center;
    padding: 2.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1;
}


.bordeBotones {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-inline-end: 1%;
    justify-content: center;
}

nav .bordeBotones li {
    display: inline-block;
    margin: 1rem;
    border-style: solid;
    border-color: rgb(59, 50, 50);
    border-radius: $brd-rad;
}

.menuBar ul li {
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    line-height: 1rem;
    padding: 1.2rem;
    background-image: url(../img/button1.png);
    background-size: 100%;
    background-position-y: center;
    background-position-x: center;
}

li,
.boton1,
.boton2,
.boton3,
.boton4 {
    color: white;
    text-shadow: whitesmoke;
}

.boton1:hover,
.boton2:hover,
.boton3:hover,
.boton4:hover {
    transform: scale(1.1);
    transition: all 0.3s;
}

.intro {
    display: flex;
    flex-direction: column;
    border: .2rem solid white;
    border-radius: $brd-rad;
    margin-bottom: 60px;
    margin-left: 5rem;
    margin-right: 5rem;

    .te{
        display: flex;
        flex-direction: row;
        text-align: center;
        position: relative;
        color: rgb(219, 230, 240);
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        text-align: center;
        font-size: 1.8rem;
        margin: 1.4rem;
        padding: 1.4rem;
        }

}

.principal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2rem;

    h3 {
        position: relative;
        color: rgb(220, 180, 73);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 1.5rem;
    }

    .tituloVideo{
        font-size: 2.3rem;
    }

      .fondomain{
        display: flex;
        flex-direction: column;
        position: absolute;
        opacity: $bg-opac;
        align-content:center;
        margin-left: 1rem;
        margin-right: 1rem;
    
        .imgfonde {
            border: solid whitesmoke;
            border-width: 5px;
        }

        
    }

        
    .imagenes-index {
        display: flex;
        flex-direction: column;
        border-radius: 25px;
        max-width: 40rem;
        max-height: 30rem;
        margin-top: 5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        grid-area: imag;
    }

    

    .video-contendor {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 3rem;
    }

    .videoResumen {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 0;
        overflow: hidden;
        padding-bottom: 56.2%;
    }

    .videoResumen iframe {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        width: 95%;
        height: 95%;
    }

    .resumenAbajo {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 3rem;
        grid-area: reca;
        position: relative;
    }

    .reCap {
        padding-left: 4rem;
        padding-right: 4rem;
    }



}

footer {
    display: flex;
    flex-direction: row;
    background-color: #000000;
    background-image: linear-gradient(200deg, #000000 30%, #b82e1f 90%);
    align-content: space-around;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: $brd-rad;
    max-height: 15rem;


    .map iframe{
        display: flex;
        flex-direction: column;
        border-radius: $brd-rad;
        max-height: 15rem;
        ;
    }

    .textFoot {
        display: flex;
        flex-direction: row;
        font-size: 1.4rem;
        text-align: left;
        align-items: center;
        justify-content: center;
        color: white;
        padding-left: 0.8rem;
    }

}

//mobile

@media screen and (max-width: 768px) {
    body {
        background-image: url(../img/background.png);
        justify-content: center;
    } 

    .tittle {
        font-size: 3.5rem;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: 550;
        background-image: url(../img/banner.jpeg);
        background-size: cover;
        background-position-y: 40%;
        background-position-x: center;
        background-repeat: no-repeat;
        color: whitesmoke;
        background-color: rgb(29, 14, 14);
        text-align: center;
        padding: 2.5rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-top: 1.5rem;
        margin-bottom: 1;
    }

    .intro{
        display: flex;
        flex-direction: column;
        margin-right: 1rem;
        margin-left: 1rem;     
        margin: 2rem;
        padding: 0;
        .te{
        font-size: 1.7rem;
        text-align: center;
        text-shadow: 2px 3px 0 gray;
        color: aliceblue;
        font-weight: 545;
        }
    }

    nav,
    .menuBar,
    .bordeBotones {
        display: flex;
        flex-direction: column;
        text-align: center;
        text-decoration: none;
        color: white;
        margin: 0;
        padding: 0;
        
    }

    .menuBar ul li {
        display: flex;
        flex-direction: column;
        font-size: 2rem;
        align-content: center
    }

    .principal{
        display: flex;
        flex-direction: row;

        .fondomain {
            display: none;
        }
        
           .imagenes-index{
            margin-top: 0;
            margin-left: 0;
            padding-left: 0;
            padding-right: 0;

           }
            .video-contendor {
            display: flex;
            flex-direction: column;
            align-items: center;
            
    }
}

    .imagenes-index {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0.6rem;
        padding-right: 0.6rem;
        margin: 0;
        justify-content: space-between;
        width: 22rem;
    }

    .video-contendor {
        display: flex;
        flex-direction: column;
        padding-right: 0;
        margin-top: 5rem;
    }

    .videoResumen {
        display: flex;
        flex-direction: column;
        margin-top: 0.5rem;
        padding-left: 0.3rem;
        padding-right: 0.3rem;
        width: 22rem;
    }

    .tituloVideo {
        color: white;
        font-weight: 600;
        font-size: 1.6rem;
    }

    .reCap {
        display: flex;
        flex-direction: column;
        font-size: 1.3rem;
        text-align: center;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .resumenAbajo {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        grid-area: reca;
        position: relative;
    }

    footer {
        display: flex;
        flex-direction: row;
        background-color: #000000;
        background-image: linear-gradient(200deg, #000000 30%, #b82e1f 90%);
        border-radius: 25px;
        grid-area: foot;
        align-items: center;
        align-content: space-between;

    }

    .map iframe {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 180px;
        height: 150px;
        border-radius: 10%;
    }

    .textFoot p {
        display: flex;
        flex-direction: column;
        justify-content: left;
        font-size: 0.9rem;
        text-align: left;
    }



}


    