<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./img/favicon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <title>Stranger Things</title>
</head>

<body>
    <header>
        <h1 class="tittle">Stranger Things Season 4</h1>
    </header>
    <nav class="menuBar">
        <ul class="bordeBotones">
            <li class="boton1"><a href="../index.html">Incio</a></li>
            <li class="boton2"><a href="../views/soundtrack.html">Soundtrack`s</a></li>
            <li class="boton3"><a href="../views/wallpappers.html">Wallpapers</a></li>
            <li class="boton4"><a href="../views/hawkins.html">Hawking</a></li>


        </ul>
    </nav>

    <main class="container">
        <section class="personajes row">
            <div class="intro-pers align-items-center col-xl-12 col-md-6">
                <h2>Personajes</h2>
                <img src="../img/cast.jpeg" alt="logo mas Personajes">
                <p>Winona Ryder como Joyce Byers, la madre de Will y Jonathan Byers y está divorciada de Lonnie Byers,
                    el padre
                    de sus dos hijos.
                    David Harbour como Jim Hopper, el jefe del departamento de policía de Hawkins.
                    Finn Wolfhard como Mike Wheeler, es hijo de Karen y Ted, hermano menor de Nancy y hermano mayor de
                    Holly, y
                    uno de los tres amigos de Will Byers.
                    Millie Bobby Brown como Once / Jane Hopper, una joven con habilidades telepáticas y psicoquinéticas
                    que
                    creció en los laboratorios Hawkins.
                    Gaten Matarazzo como Dustin Henderson, amigo de Mike, Will y Lucas, es un niño muy inteligente y
                    estudioso
                    cuya displasia cleidocraneal lo hace ceder.
                    Caleb McLaughlin como Lucas Sinclair, es amigo de Mike, Will y Dustin, y hermano mayor de Erica.
                    Natalia Dyer como Nancy Wheeler, es la hija de Karen y Ted, hermana mayor de Mike y Holly Wheeler,
                    novia de
                    Steve durante la primera temporada.
                    Charlie Heaton como Jonathan Byers, un joven callado hermano de Will e hijo de Joyce.
                    Cara Buono como Karen Wheeler (temporadas 1-3; coprincipal temporada 4), la madre de Nancy, Mike y
                    Holly, y
                    esposa de Ted Wheeler.
                    Matthew Modine como el Dr. Martin Brenner (temporadas 1, 4; invitado temporada 2), es el científico
                    jefe del
                    Laboratorio Hawkins y los experimentos realizados allí.
                    Noah Schnapp como Will Byers (temporada 2-; recurrente temporada 1), hijo de Joyce y hermano de
                    Jonathan, un
                    niño callado y tímido.
                    Sadie Sink como Maxine «Max» Mayfield (temporada 2-), la hermanastra de Billy, una skater que llama
                    la
                    atención de Lucas y Dustin.
                    Joe Keery como Steve Harrington (temporada 2-; recurrente temporada 1), un estudiante popular en la
                    escuela
                    secundaria.
                </p>
            </div>

            <section class="backst row">
                <div class="align-items-center col-xl-12 col-md-6">
                    <h3>Un dia de grabacion con el cast de la serie</h3>
                     <iframe width="560" height="315" src="https://www.youtube.com/embed/In12oTGngcI"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                     </iframe>
                </div>
            </section>

        </section>

    </main>


    <footer class="column">
        <div class="textFoot col-xl-8 col-md-10">
            <p>
                Todos los derechos reservados a Netflix, The duffer Brothers. Hawkins Town.
            </p>
        </div>

        <div class="map col-xl-4 col-md-2">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5220.459743597705!2d-95.20382783544088!3d32.588419033516494!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8649dd40ad65875d%3A0xf361cc6b63e24e8a!2sHawkins%20Fire%20Department!5e0!3m2!1ses-419!2sar!4v1657151116982!5m2!1ses-419!2sar"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

</body>