<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./img/favicon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <title>Banda Sonora</title>
</head>

<body>
    <h1 class="tittle">Stranger Things Season 4</h1>
    </header>
    <nav class="menuBar">
        <ul class="bordeBotones">
            <li class="boton1"><a href="../index.html">Incio</a></li>
            <li class="boton2"><a href="../views/personajes.html">Personajes</a></li>
            <li class="boton3"><a href="../views/soundtrack.html">Soundtrack`s</a></li>
            <li class="boton4"><a href="../views/wallpappers.html">Wallpapers</a></li>
        </ul>
    </nav>

    <main>
        <section class="listas-spot">
            <div>
                <iframe style="border-radius:12px"
                    src="https://open.spotify.com/embed/album/5qRG8S2ClNtl71wEf2TKPp?utm_source=generator" width="100%"
                    height="380" frameBorder="0" allowfullscreen=""
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
            </div>

            <div>
                <iframe style="border-radius:12px"
                    src="https://open.spotify.com/embed/album/5qRG8S2ClNtl71wEf2TKPp?utm_source=generator" width="100%"
                    height="380" frameBorder="0" allowfullscreen=""
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
            </div>

            <div>
                <iframe style="border-radius:12px"
                    src="https://open.spotify.com/embed/album/5qRG8S2ClNtl71wEf2TKPp?utm_source=generator" width="100%"
                    height="380" frameBorder="0" allowfullscreen=""
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
            </div>

            <div>
                <iframe style="border-radius:12px"
                    src="https://open.spotify.com/embed/album/5qRG8S2ClNtl71wEf2TKPp?utm_source=generator" width="100%"
                    height="380" frameBorder="0" allowfullscreen=""
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
            </div>
        </section>

        <Section class="bso-cap">
            <H1>Stranger Things, esa gran serie de Netflix que ha revolucionado a medio mundo con sus dos primeras
                temporadas, también cuenta con una enorme banda sonora.

                La banda sonora de Stranger Things llega de la mano de Kyle Dixon y Michael Stein, los también
                componentes del grupo S U R V I V E, y ofrece una mezcla de música ochentera y electrónica que funciona
                a las mil maravillas.

                Por otro lado, además de la música original por parte del dúo norteamericano, las dos primeras
                temporadas de Stranger Things también nos dan la oportunidad de escuchar temazos clásicos como Should I
                Stay or Should I Go de The Clash, Heroes de Peter Gabriel o Atmosphere de Joy Division.</H1>
        </Section>
    </main>


    <footer class="column">
        <div class="textFoot col-xl-8 col-md-10">
            <p>
                Todos los derechos reservados a Netflix, The duffer Brothers. Hawkins Town.
            </p>
        </div>

        <div class="map col-xl-4 col-md-2">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5220.459743597705!2d-95.20382783544088!3d32.588419033516494!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8649dd40ad65875d%3A0xf361cc6b63e24e8a!2sHawkins%20Fire%20Department!5e0!3m2!1ses-419!2sar!4v1657151116982!5m2!1ses-419!2sar"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

</body>