<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./img/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
    <title>Wallpapers</title>
</head>

<body>
    <header>
        <h1 class="tittle">Stranger Things Season 4</h1>
        <img class="fondotitulo" src="./img/banner.jpeg" alt="stranger things logo">
    </header>
    <nav class="menuBar">
        <ul class="bordeBotones">
            <li class="boton1"><a href="../index.html">Incio</a></li>
            <li class="boton2"><a href="../views/personajes.html">Personajes</a></li>
            <li class="boton3"><a href="../views/soundtrack.html">Soundtrack`s</a></li>
            <li class="boton4"><a href="../views/hawkins.html">Hawking</a></li>

        </ul>
    </nav>


    <footer>
        <div class="textFoot">
            <p>
            Todos los derechos reservados a Netflix, The duffer Brothers. Hawkins Town.
            </p>
        </div>

        <div>
            <iframe class="map"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5220.459743597705!2d-95.20382783544088!3d32.588419033516494!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8649dd40ad65875d%3A0xf361cc6b63e24e8a!2sHawkins%20Fire%20Department!5e0!3m2!1ses-419!2sar!4v1657151116982!5m2!1ses-419!2sar"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
    </footer>

</body>