@import '../base/variables';
@import '../base/maps';
@import '../base/extend';
@import '../base/mixin';

//index
@media screen and (max-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
        background-image: url(../img/background.png);
        align-items: center;
        background-size: $bg-size;
        overflow-x: hidden;

    }

    .tittle {
        font-size: 4rem;
        margin-left: .5rem;
        margin-right: .5rem;
        margin-top: .5rem;
        margin-bottom: 1rem;
    }

    .menuBar {
        display: flex;
        flex-direction: row;   
        padding-right: 0;   
        justify-items: center;  
        
        .bordeBotones {
            text-align: center;
            padding: 0;

            .boton1,
            .boton2,
            .boton3,
            .boton4 {
                width: 360px;
                font-size: 1.5rem;
                margin-left: 0;
                margin-right: 0;
                margin: .4rem;

            }
        }
    }

    .intro {
        margin-left: .8rem;
        margin-right: .8rem;

        .te {
            font-size: 1.3rem;
            margin: .2rem;
        }
    }

    .principal {
        display: flex;
        flex-direction: column;
        background-image: none;
        border: none;
        align-items: center;
        padding-top: 0;


        .imagenes-index {
            max-width: 25rem;
            max-height: 15rem;
            margin-left: 0;
            margin-bottom: 5rem;
        }

        .video-contendor {
            display: flex;
            flex-direction: column;
            align-items: center;


            .videoResumen {

                iframe {
                    width: 23rem;
                    height: 14rem;
                    justify-content: center;
                }


                .tituloVideo p {
                    font-size: 2rem;
                }

            }



            h3 {
                position: relative;
                color: rgb(220, 180, 73);
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                font-size: 1.5rem;
            }
        }

        .resumenAbajo {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-top: 2.5rem;
            margin-bottom: 2rem;

            .reCap {
                padding-left: 0;
                padding-right: 0;

            }
        }

    }

    footer {
        display: flex;
        flex-direction: row;
        margin-left: .1rem;
        margin-right: .1rem;
        align-items: center;
        width: 25rem;
        justify-content: space-around;


        .map iframe {
            max-width: 11rem;
            max-height: 11rem;
            
        }

        .textFoot p {
            font-size: 1rem;
            padding-left: 0.3rem;
            padding-top: 1rem;
            text-align: left;
        }
    }

}

//Hawking
@media screen and (max-width: $siz-mob) {
    .main-hawkins {
        display: flex;
        flex-direction: column;
        color: antiquewhite;
        margin: 4rem;
        align-items: center;
        margin-bottom: .1rem;
    }

    .titmain {
        color: whitesmoke;
        font-weight: 700;
        font-size: 3rem;
        text-align: center;
        margin-bottom: 2rem;
        margin-top: -3.5rem;
        max-width: 24.4rem;

    }

    h1 {
        text-align: center;
    }

    .datos1,
    .txtt {
        display: flex;
        flex-direction: column;
        font-size: 1.3rem;
        color: bisque;
        grid-area: dat1;
        text-align: center;
        padding: .5rem;
        margin-bottom: 2rem;
        border: solid whitesmoke;
    }

    .datos2,
    .txtt {
        display: flex;
        flex-direction: column;
        font-size: 1.3rem;
        color: bisque;
        grid-area: dat1;
        text-align: center;
        margin-bottom: 2rem;
        padding: .5rem;
        border: solid whitesmoke;

    }

    .imag-mapa,
    .imag-sch {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        ;
        width: 22rem;
        width: 22rem;
        border-radius: 8%;
    }
}

//Personajes
