$txtColor: #14b219; 
$bg-size: 6rem; //background-size
$bg-opac: 0.7; //opacity
$brd-rad: 20px; //border radiuos
$siz-mob: 768px; //@media mobil

// Variables Mixin

//padding de reCap
$paddLe: 4rem;
$paddRi: 4rem;

//tamaño de video en mobile
$maxwvid: 24rem;
$maxhvid: 24rem;
