@import '../base/variables';
@import '../base/maps';
@import '../base/extend';
@import '../base/mixin';
@import '../parciales/mediaqu';


body {
    display: flex;
    flex-direction: column;
    background-color: black;
    background-image: url(../img/bg/bg_main.jpg);
    background-repeat: repeat-y repeat-x;
    background-size: 95rem;
    align-items: center;
}

.tittle {
    font-size: 5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 550;
    background-image: url(../img/banner.jpeg);
    background-size: cover;
    background-position-y: 39%;
    background-position-x: center;
    background-repeat: no-repeat;
    color: whitesmoke;
    background-color: rgb(29, 14, 14);
    text-align: center;
    padding: 2.5rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 1;
}


.menuBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 2rem;



    .bordeBotones {
        @extend %flexdire;
        text-align: center;
        flex-wrap: wrap;


        .boton1,
        .boton2,
        .boton3,
        .boton4 {
            background-image: url(../img/button1.png);
            background-size: 130%;
            border-radius: $brd-rad;
            margin-left: 2rem;
            margin-right: 2rem;
            margin-top: 1.5rem;
            margin-bottom: 1rem;
            padding: .8rem;
            color: white;
            font-size: 1.4rem;
            background-position-x: center;
            background-position-y: center;
            list-style: none;
            min-width: 15rem;
            font-family: 'Courier New', Courier, monospace;
            font-weight: 890;
            border-top: 4px groove rgb(139, 93, 93);
            border-right: 2px outset #C00;
            border-bottom: 5px ridge rgb(56, 22, 22);
            border-left: 2px outset #C00;

            &:hover {
                transform: scale(1.1);
                transition: all 0.3s;
            }
        }
    }
}


.intro {
    display: flex;
    flex-direction: column;
    border: .2rem solid white;
    border-radius: $brd-rad;
    margin-bottom: 30px;
    margin-left: 5rem;
    margin-right: 5rem;

    .te {
        display: flex;
        flex-direction: row;
        text-align: center;
        position: relative;
        color: rgb(219, 230, 240);
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        text-align: center;
        font-size: 1.8rem;
        margin: 1.4rem;
        padding: 1.4rem;
    }
}

.principal {
    @extend %flexdire;
    margin-bottom: 2rem;
    background-image: url(../img/bgmain.png);
    background-repeat: no-repeat;
    background-size: 120rem 50rem;
    border: solid 3px white;
    border-radius: $brd-rad;
    padding-top: 5rem;
    max-width: 87rem;

    .imagenes-index {
        border-radius: 25px;
        max-width: 40rem;
        max-height: 30rem;
        padding-top: 3rem;
        margin-left: 2rem;
    }

    .video-contendor {

        .videoResumen {

            iframe {
                width: 40rem;
                height: 25rem;
            }
        }

        .tituloVideo p {
            font-size: 2rem;
        }

    }


    h3 {
        position: relative;
        color: rgb(220, 180, 73);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 1.5rem;
    }

    .resumenAbajo {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 2.5rem;
        margin-bottom: 2rem;
    }

    .reCap {
        @include espacios;
    }

}

footer {
    display: flex;
    flex-direction: row;
    background-color: #000000;
    background-image: linear-gradient(200deg, #000000 30%, #b82e1f 90%);
    border-radius: $brd-rad;
    width: 77rem;
    align-items: center;

    .map iframe {
        border-radius: $brd-rad;
        max-height: 15rem;
        width: 25.7rem;
        height: max-content;
        align-content: center;
    }

    .textFoot p {
        font-size: 1.1rem;
        text-align: left;
        color: white;
        padding-left: 0.3rem;
    }

}